.header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
    background-color: rgba(111, 174, 22, 0.707);
}
.Post{
    width: 700px;
    background-color: bisque;
}